        .cereals_tag {
            display: inline-block;
            border-radius: 5px;
            border: 3px solid darkorange;
            background-color: darkorange;
            color: white;
            font-weight: bold;
        }
        .dairy_product_tag {
            display: inline-block;
            border-radius: 5px;
            border: 3px solid cadetblue;
            background-color: cadetblue;
            color: white;
            font-weight: bold;
        }
        .extra_tag{
            display: inline-block;
            border-radius: 5px;
            border: 3px solid palevioletred;
            background-color: palevioletred;
            color: white;
            font-weight: bold;
        }
        .fruit_tag {
            display: inline-block;
            border-radius: 5px;
            border: 3px solid orangered;
            background-color: orangered;
            color: white;
            font-weight: bold;
        }
        .flour_tag {
            display: inline-block;
            border-radius: 5px;
            border: 3px solid burlywood;
            background-color: burlywood;
            color: white;
            font-weight: bold;
        }
        .meat_tag {
            display: inline-block;
            border-radius: 5px;
            border: 3px solid chocolate;
            background-color: chocolate;
            color: white;
            font-weight: bold;
        }
        .mushroom_tag {
            display: inline-block;
            border-radius: 5px;
            border: 3px solid darkgray;
            background-color: darkgray;
            color: white;
            font-weight: bold;
        }
        .processed_food_tag {
            display: inline-block;
            border-radius: 5px;
            border: 3px solid mediumpurple;
            background-color: mediumpurple;
            color: white;
            font-weight: bold;
        }
        .rice_tag{
            display: inline-block;
            border-radius: 5px;
            border: 3px solid skyblue;
            background-color: skyblue;
            color: white;
            font-weight: bold;
        }
        .seafood_tag {
            display: inline-block;
            border-radius: 5px;
            border: 3px solid cornflowerblue;
            background-color: cornflowerblue;
            color: white;
            font-weight: bold;
        }