        #top_slide {
            display: block;
            text-align: center;
        }
        h1 {
            font-size: 2rem;
        }
        .three_tops {
            max-width: 900px;
            height: 450px;
            padding-right: -5px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
        }
        .slider {
            max-width: 900px;
            height: 450px;
            padding: 0;
            margin: 0;
            display: inline-block;
            list-style-type: none;
            position: absolute;
        }
        .slide_picture {
            width: 900px;
            height: 450px;
            margin: 0 auto;
            border-radius: 10px;
            position: absolute;
        }
        .three_buttons {
            width: 900px;
            padding-left: 5px;
            margin: 0 auto;
        }
        .slide_button {
            width: 300px;
            height: 50px;
            margin-left: -5px;
            display: inline-block;
            border-radius: 10px;
            border: 1px solid lightgray;
        }
        .slide_button:hover {
            background-color: lightgray;
        }
        /*효과.. 나타나지 않음*/
        .slider animated {
            transition: left .3 ease-in;
            -webkit-transition: all .3s ease-in;
        }
        #other_menu {
            height: auto;
            margin: 0 auto;
            margin-top: 150px;
            text-align: center;
        }
        .slide_button h2 {
            font-size: 1.5rem;
            line-height: 0.7rem;
        }
        #other_menu h2 {
            width: 500px;
            height: 50px;
            border-bottom: 2px solid lightgray;
            margin: 0 auto;
            font-size: 1.875rem;
        }
        .famous_dish {
            display: inline-block;
            margin: 50px;
        }
        .famous_extra_img {
            width: 400px;
            height: 300px;
            border-radius: 10px;
        }
        @media (max-width: 1200px) {
            .famous_dish {
                margin: 30px;
            }
        }
        @media (max-width: 978px) {
            h1 {
                font-size: 1.875rem;
            }
            .three_tops {
                width: 540px;
                height: 270px;
            }
            .slider {
                height: 270px;
            }
            .slide_picture {
                width: 540px;
                height: 270px;
            }
            .three_buttons {
                width: 540px;
                padding-left: 5px;
                margin: 0 auto;
            }
            .slide_button {
                width: 180px;
                height: 40px;
                margin-left: -5px;
            }
            #other_menu {
                width: 580px;
                margin-top: 100px;
            }
            #other_menu h2 {
                font-size: 1.5rem;
            }
            .slide_button h2 {
                font-size: 1.25rem;
                line-height: 0.5rem;
            }
            .famous_dish {
                display: inline-block;
                margin: 10px;
            }
            .famous_extra_img {
                width: 260px;
                height: 195px;
            }
        @media (max-width: 600px) {
            h1 {
                font-size: 1.25rem;
            }
            .three_tops {
                width: 348px;
                height: 174px;
            }
            .slider {
                height: 174px;
            }
            .slide_picture {
                width: 348px;
                height: 174px;
            }
            .three_buttons {
                width: 348px;
                padding-left: 5px;
                margin: 0 auto;
            }
            .slide_button {
                width: 116px;
                height: 30px;
                box-sizing: border-box;
                margin-left: -5px;
            }
            #other_menu {
                width: 100%;
                margin-top: 60px;
            }
            .slide_button h2 {
                font-size: 1rem;
                line-height: 0.2rem;
            }
            #other_menu h2 {
                width: 150px;
                height: 30px;
                border-bottom: 2px solid lightgray;
                margin: 0 auto;
                margin-bottom: 15px;
                font-size: 1.125rem;
            }
            .famous_dish {
                display: inline-block;
                margin: 5px;
            }
            .famous_extra_img {
                width: 160px;
                height: 120px;
            }
        }