        nav:last-of-type {
            width: 0;
            height: 0;
            display:none;
        }
        .select_option {
            height: auto;
            line-height: 100px;
        }
        .selected_situation {
            display: inline-block;
            width: 100px;
            padding: auto;
            font-size: 1.25rem;
            font-weight: bold;
        }
        .selected_ingredient {
            display: inline-block;
            width: 180px;
            padding: auto;
            font-size: 1.25rem;
            font-weight: bold;
        }
        .every_icon {
            display: inline-block;
            width: 800px;
        }
        .situation_icon {
            width: 70px;
            height: 70px;
            margin: 0 10px;
            vertical-align: middle;
            border-radius: 50%;
            border: 1.5px solid dimgray;
        }
        #result {
            margin: 0 auto;
            padding-left: 200px;
            padding-bottom: 40px;
        }

        .small_input {
            width: 300px;
            height: 45px;
            text-align: center;
            font-size: 1rem
        }
        .select_ingredient_name {
            width: 500px;
            margin-left: 200px;
        }
        .how_much_location {
            width: 90%;
            text-align: right;
        }
        .how_much {
            display: inline-block;
            width: 150px;
            height: 40px;
            font-size: 1rem;
        }
        h1 {
            font-size: 1.875rem;
        }
        h2 {
            margin: 10px;
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1.125rem;
        }
        h4 {
            font-size: 1rem;
            margin: 0;
            word-break: break-word;
        }
        .food_list {
            max-width: 1200px;
            height: auto;
            margin: auto;
            text-align: center;
        }
        article {
            width: 250px;
            height: 480px;
            margin: 20px;
            display: inline-block;
        }
        .big_info {
            width: 230px;
            height: 150px;
            display: inline-block;
        }
        .ingredient_info {
            width: 200px;
            height: 100px;
            display: inline-block;
            word-break: keep-all;
            vertical-align: middle;
        }
        .food_img {
            width: 200px;
            height: 200px;
            margin: 10px;
            border-radius: 10px;
        }
        article {
            border: 1px solid lightgray;
            border-radius: 10px;
        }
        .paging {
            padding: 0 0 100px;
            margin: 150px 0 0;
            font-size: 0;
            text-align: center;
        }
/*숫자끼리 간격조정 어떻게 된건지 확인*/
        .paging li {
            list-style: none;/*아무런 도움이 안되네..*/
            display: inline-block;
            vertical-align: middle;
        }
        .paging a {
            width: 35px; 
            height: 35px;
            display: block;
            text-align: center;
            line-height: 35px;
            font-size: 1.5rem;
            color: dimgray;
            /*이 부분만 폰트를 바꾸고 싶다*/
        }
        .paging li.first a, .paging li.prev a, .paging li.next a, .paging li.last a {
            display: inline-block;
            margin: 0 5px;
            overflow: hidden;
            /*이거 왜 들어가는지 복습좀*/
        }
        .paging li.first a {
            background-image: url(picture/icon_first.png);
            background-size: 35px 35px;
        }
        .paging li.prev a {
            background-image: url(picture/icon_prev.png);
            background-size: 35px 35px;
            margin-right: 40px;
        }
        .paging li.next a {
            background-image: url(picture/icon_next.png);
            background-size: 35px 35px;
            margin-left: 40px;
        }
        .paging li.last a {
            background-image: url(picture/icon_last.png);
            background-size: 35px 35px;
        }
        .paging li.on a, .paging a:hover {
            color: black;
            text-decoration: underline;
        }

        @media (max-width: 1200px) {
            nav:last-of-type {
                width: 0;
                height: 0;
                display:none;
            }
            #result {
                padding-left: 0;
                max-width: 780px;
            }
            .selected_situation {
                width: 50px;
            }
            .every_icon {
                margin-bottom: 30px;
            }
            .select_option {
                width: auto;
                margin: auto;
            }
            .how_much_location {
                max-width: 1050px;
                margin: auto;
            }

            .food_list {
                margin: auto;
                max-width: 1000px;
            }
        }

        @media (max-width: 978px) {
            nav:last-of-type {
                width: 0;
                height: 0;
                display: none;
            }
            #result {
                padding-left: 0;
                max-width: 780px;
            }
            h1 {
                font-size: 0;
                visibility: hidden;
            }
            h1:before{
                visibility: visible;
                display: inline-block;
                content: "검색결과\A김치, 햄, 계란, 김, 파스타면/ -들기름";
                white-space: pre;
                width: 100%;
                margin: 0;
                font-size: 1.875rem;
                line-height: 3rem;
                font-weight: bold;
                text-align: center;
            }
            .selected_situation {
                display: block;
                margin: auto;
                margin-top: 40px;
                margin-bottom: 20px;
                line-height: 40px;
                font-size: 1.5rem;
            }
            .every_icon {
                max-width: 400px;
            }
            .select_option {
                width: 100%;
                height: auto;
                text-align: center;
                margin: auto;
            }
            .small_input input {
                width: 270px;
            }
            .selected_ingredient {
                text-align: left;
            }
            .select_ingredient_name {
                max-width: 400px;

            }
            .food_list {
                max-width: 750px;
                margin: auto;
            }
            .food_info {
                margin: 18px;
            }
        }

        @media (max-width: 600px) {
            nav:first-of-type {
                width: 0;
                height: 0;
                display: none;
            }
            nav:last-of-type {
                display: block;
                width: 100%;
                line-height: 0;
            }
            #result {
                width: 100%;
            }
            .every_icon {
                width: 340px;
            }
            .situation_icon {
                width: 60px;
                height: 60px;
                margin: 0 7px;
            }

            h1::before{
                margin: 0;
                margin-top: 40px;
                font-size: 1.125rem;
                word-break: keep-all;
            }
            .select_option {
                margin-top: 30px;
            }
            .selected_situation {
                font-size: 1.125rem;
            }
            .selected_ingredient {
                height: 60px;
                margin: auto;
                text-align: center;
                display: block;
                font-size: 1.125rem;
            }
            .select_ingredient_name {
                max-width: 315px;
                height: 50px;
                margin: auto;
                font-size: 0.75rem;
            }
            .small_input {
                width:250px;
                height: 45px;
                line-height: 45px;
                vertical-align: middle;
            }
            .small_input input {
                width: 150px;
                vertical-align: middle;
            }

            .small_button {
                margin-top: 0;
            }
            .how_much {
                width: 100px;
                height: 25px;
                font-size: 0.875rem;
            }
            .food_list {
                width: 100%;
            }
            article {
                width: 90%;
                height: auto;
                padding: 5px 0;
                border: 1px solid lightgray;
                border-radius: 10px;
            }
            .big_info {
                width: 50%;
                height: auto;
                float: right;
            }
            .food_img {
                width: 140px;
                height: 140px;
                margin: 10px;
                float: left;
            }
            .ingredient_info {
                width: 50%;
                height: auto;
                float: right;
            }
            h2 {
                padding-top: 5px;
                font-size: 1rem;
                text-align: center;
            }
            h3 {
                display: inline-block;
                margin: auto;
                margin-bottom: 15px;
                line-height: 1.2rem;
                font-size: 0.75rem;
            }
            h3>p {
                margin: 0;
            }
            h4 {
                display: inline-block;
                margin: auto;
                padding: 5px;
                font-size: 0.75rem;
            }
        }