@font-face {
  font-family: 'NanumGothic-Regular';
  src: url('NanumGothic-Regular.eot');
  src: url('NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('NanumGothic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumGothic';
  src: url('NanumGothic.svg#NanumGothic') format('svg'),
       url('NanumGothic.ttf') format('truetype'),
       url('NanumGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

